nav {
    padding: 12px 32px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex>ul {
    display: flex;
    list-style: none;
    margin-right: 16px;
}

.nav-flex>ul a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

h6 {
    color: #377DFF;
}

.btn {
    text-decoration: none;
    padding: 12px 24px;
}

.btn-secondary {
    border: 1px solid #377DFF;
    color: #377DFF;
}

.btn-primary {
    background: #377DFF;
    color: white;
}

.flex {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}