@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}

.current {
    font-weight: bold;
}

nav {
    padding: 12px 32px;
}

p {
    color: #464646;
}

h2 {
    font-size: 32px;
}

img {
    width: 100%;
}

.before-btn {
    margin-bottom: 32px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-icon {
    font-size: 32px;
    display: none;
    cursor: pointer;
}

.nav-flex img {
    width: auto;
}

.nav-flex>ul {
    display: flex;
    gap: 12px;
    list-style: none;
    margin-right: 16px;
}

.nav-flex>ul a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.nav-flex>ul a:hover {
    text-decoration: underline;
}

#nav-menu.mobile-nav {
    display: block;
    position: absolute;
    background: white;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}

#nav-menu.mobile-nav>ul {
    display: block;
}

#nav-menu.mobile-nav>ul>li {
    padding: 12px 0;
}

#nav-menu.mobile-nav>a {
    margin-left: 20px;
}

h6 {
    color: #377DFF;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 12px 0;
}

body>section {
    padding: 40px;
}

body>section.flex>* {
    flex-basis: 40%;
}

.btn {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 32px;
    transition: all 200ms ease-in-out;
}

.btn-secondary {
    border: 1px solid #377DFF;
    color: #377DFF;
}

.btn-secondary:hover {
    background: #377DFF;
    color: white;
}

.btn-primary {
    background: #377DFF;
    color: white;
}

.btn-primary:hover {
    font-weight: bold;
}

.flex {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
}

.text-center {
    text-align: center;
}

.hero {
    position: relative;
    margin: 0 auto;
}

.hero>div {
    position: absolute;
    padding: 8px 32px;
    box-shadow: 2px 2px 2px 2px #00000011;
    background: white;
    border-radius: 20px;
}

.hero>img {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.div1 {
    top: 64px;
    left: 15%;
    width: fit-content;
}

.div2 {
    bottom: -4px;
    left: 60%;
    width: 180px;
}

.div2 h3,
.div1 h5,
.div1 p {
    margin: 6px 0;
}

.div2 img {
    width: 32px;
}

.div2>div {
    font-size: 12px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.div2 p {
    margin: 4px 0;
}

.link {
    display: block;
    text-align: right;
    color: #377DFF;
    text-decoration: none;
    font-weight: bold;
}

.cardContainer {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.service {
    flex-basis: 40%;
    padding: 12px;
    border: 1px solid #b8b5b5;
    border-radius: 16px;
    transition: all 200ms ease-in-out;
}

.service:hover {
    box-shadow: 2px 2px 2px 2px #00000011;
}

.avatar {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.portfolio-project {
    position: relative;
}

.portfolio-project div {
    width: 250px;
    height: 250px;
    border-radius: 24px;
    opacity: .75;
    background-position: center center;
    background-repeat: no-repeat;
}

.portfolio-project p {
    position: absolute;
    color: white;
    font-weight: bold;
    bottom: 18px;
    left: 48px;
}

.portfolio-project div:hover {
    opacity: 1;
    transform: scale(1.15);
    transition: all 400ms ease-in-out;
    font-size: 24px;
}

section#projects>section,
section#testimonials>section {
    margin-top: 48px;
    display: flex;
    gap: 56px;
    justify-content: center;
}

#testimonials .div2 {
    padding: 24px;
    border-radius: 18px;
    border: 1px solid #b8b5b5;
    width: 250px;
}

.img-grid img {
    border-radius: 24px;
    width: 300px;
}

.img-1 {
    z-index: 10000000 !important;
    margin-bottom: -150px;
}

.img-2 {
    margin-top: -250px;
    margin-left: 250px;
}

footer span {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
}

footer {
    background: #383638;
    padding: 24px;
    margin: 0;
}

footer img {
    width: auto;
    margin-top: 56px;
    margin-left: 24px;
    padding: 12px 24px;
    background: white;
}

footer h3,
footer p {
    color: white;
}

@media (min-width: 640px) and (max-width: 1024px) {
    body>section.flex>img {
        width: 320px;
    }
}

@media screen and (max-width: 640px) {
    .img-grid img {
        width: 200px;
    }

    .img-grid .img-2 {
        margin-top: -150px;
        margin-left: 150px;
    }
}

@media screen and (max-width: 768px) {

    body>section {
        padding: 40px 12px;
    }

    body>section.flex>*,
    footer>section.flex>div {
        flex-basis: 100%;
        padding: 24px;
    }

    footer {
        margin-top: 96px;
    }

    footer img {
        margin: 56px 0;
    }

    #nav-menu {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    #about {
        margin-top: 56px;
    }

    #about>section.flex {
        gap: 40px;
        flex-wrap: wrap-reverse;
    }

    .flex,
    section#projects>section,
    section#testimonials>section {
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    footer>section.flex>div {
        padding: 0;
    }

    body>section.flex>.cardContainer {
        padding: 0;
        justify-content: center;
    }

    .hero {
        padding: 24px 0;
    }

    .hero>img {
        width: 100%;
    }

    .div1 {
        left: -2.5%;
    }

    .div2 {
        bottom: -64px;
        left: 48%;
        width: 180px;
    }

    .service {
        width: 250px;
    }

    .img-grid {
        margin: 56px;
    }


    .img-grid img {
        width: 250px;
        margin: 0 auto;
    }

    .img-grid .img-1 {
        margin-bottom: -75px;
    }
}

.dark-mode {
    background: #0D0D0D;
    color: #e2e2e2;
}

.dark-mode .nav-flex img {
    padding: 12px 24px;
    background: white;
    border-radius: 24px;
}

.dark-mode .nav-flex>ul>li>a {
    color: #e2e2e2;
}

.dark-mode #testimonials .div2 {
    background: #0B0F15;
    border: none;
}

.dark-mode .hero h3,
.dark-mode .hero h5 {
    color: #383638;
}

.light-mode {
    background: #ffffff;
    color: #464646;
}