@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

body {
    font-family: "Quicksand", sans-serif;
}

.current {
    font-weight: bold;
}

nav {
    padding: 12px 32px;
}

p {
    color: #464646;
}

h2 {
    font-size: 32px;
}

img {
    width: 100%;
}

.before-btn {
    margin-bottom: 32px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-flex>ul {
    display: flex;
    gap: 12px;
    list-style: none;
    margin-right: 16px;
}

.nav-flex>ul a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.nav-flex>ul a:hover {
    text-decoration: underline;
}

h6 {
    color: #377DFF;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 12px 0;
}

body>section {
    padding: 40px;
}

body>section.flex>* {
    flex-basis: 40%;
}

.btn {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 32px;
}

.btn-secondary {
    border: 1px solid #377DFF;
    color: #377DFF;
}

.btn-primary {
    background: #377DFF;
    color: white;
}

.flex {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
}

.text-center {
    text-align: center;
}

.hero {
    position: relative;
    margin: 0 auto;
}

.hero>div {
    position: absolute;
    padding: 8px 32px;
    box-shadow: 2px 2px 2px 2px #00000011;
    background: white;
    border-radius: 20px;
}

.hero>img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.div1 {
    top: 64px;
    left: 15%;
    width: fit-content;
}

.div2 {
    bottom: -4px;
    left: 60%;
    width: 180px;
}

.div2 img {
    width: 32px;
}

.div2>div {
    font-size: 12px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.div2 p {
    margin: 4px 0;
}

.link {
    display: block;
    text-align: right;
    color: #377DFF;
    text-decoration: none;
    font-weight: bold;
}

.cardContainer {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.service {
    flex-basis: 40%;
    min-width: 250px;
    padding: 12px;
    border: 1px solid #b8b5b5;
    border-radius: 16px;
    transition: all 200ms ease-in-out;
}

.service:hover {
    box-shadow: 2px 2px 2px 2px #00000011;
}

.avatar {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media screen and (max-width: 640px) {

    body>section {
        padding: 40px 12px;
    }

    body>section.flex>* {
        flex-basis: 100%;
        padding: 24px;
    }

    #menu {
        display: none;
    }

    #about {
        margin-top: 56px;
    }

    .flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 24px;
    }

    body>section.flex>.cardContainer {
        padding: 0;
        justify-content: center;
    }

    .hero {
        padding: 40px 0;
    }

    .div1 {
        left: -2.5%;
    }

    .div2 {
        bottom: -64px;
        left: 48%;
        width: 180px;
    }
}